
    <div class="body wrapper productoText">
        <div class="container-fluid">    
            <div class="row grid7">
                <div class="col-md-4">
                    <div class="hovereffect">
                          <h2>SERES</h2>
                        <img class="img-responsive imagen-juego" (click)="openModal('custom-modal-1')" src="../../../assets/img/seres-portada.jpg" alt="">
                            <div class="overlay">
                               
                                <p class="icon-links">
                                    <a href="#" id="Modal-1_1" >
                                       
                                    </a>
                                </p>
                            </div>
                    </div>
                </div>
  
                <section>
                    <modal id="custom-modal-1">
                        <div class="modal-background">
                            
                            <div class="modal-body test">
                                <h1>SERES</h1>
                                <h4>------------------</h4>
                                <p>Dentro de la categoría de Naturaleza se trabaja con el 
                                    nombre de "En mi entorno Natural" y esta comprendido 
                                    por temas de: Seres, Animales, plantas, cuerpo humano 
                                    y medio ambiente. Cada aplicación muestra a niños de 3 
                                    a 6 años de edad, mediante historias, música y juegos 
                                    de una manera didáctica, entretenida escenas cotidianas 
                                    que le pueden suceder en la casa, escuela, ciudad y medio
                                    ambiente lo que les permite estar preparados y prevenir 
                                    situaciones que atenten a su integridad física.
                                </p>
                                <div class="row">
                                    <div class="col-md-8">
                                            <a routerLink ='/user/login'><button class="descargar">Descargar Juego</button></a>
                                    </div>
                                    <div class="col-md-4">
                                        <button (click)="closeModal('custom-modal-1');">Cerrar</button>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </modal>
                </section>
  
             
                <div class="col-md-4">
                    <div class="hovereffect">
                          <h2>ESCUELA</h2>
                        <img class="img-responsive imagen-juego" (click)="openModal('custom-modal-2')" src="../../../assets/img/escuela-portada.jpg" alt="">
                            <div class="overlay">
                                <p class="icon-links">
                                    <a href="#" id="Modal-1_2" >
                                       
                                    </a>
                                </p>
                            </div>
  
  
                    </div>
                </div>     
                <section>
                      <modal id="custom-modal-2">
                          <div class="modal-background">
                              
                              <div class="modal-body test">
                                  <h1>ESCUELA</h1>
                                  <h4>------------------------</h4>
                                  <p>La plataforma interactiva "En mi entorno social, escuela" 
                                      explica de manera dinámica y entretenida algunos conocimientos 
                                      básicos relacionados con las ciencias sociales para niños de 3 
                                      a 6 años de edad. En ella, podrán divertirse jugando mientras 
                                      revisan cada una de las historias.
                                  </p>
                                  <div class="row">
                                        <div class="col-md-8">
                                            <a routerLink ='/user/login'><button class="descargar">Descargar Juego</button></a>
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="closeModal('custom-modal-2');">Cerrar</button>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </modal>
                  </section>     
              
              
          
                  <div class="col-md-4">
                  <div class="hovereffect">
                          <h2>ANIMALES</h2>
                        <img class="img-responsive imagen-juego" (click)="openModal('custom-modal-3')" src="../../../assets/img/animales-portada.jpg" alt="">
                            <div class="overlay">
                                
                                <p class="icon-links">
                                    <a href="#" id="Modal-1_2" >
                                    
                        </a>
                      </p>
                   </div>
                  </div>
            </div>
            <section>
                  <modal id="custom-modal-3">
                      <div class="modal-background">
                          
                          <div class="modal-body test">
                              <h1>ANIMALES</h1>
                              <h4>-------------------------</h4>
                              <p>Dentro de la categoría de Naturaleza se trabaja con el 
                                  nombre de "En mi entorno Natural" y esta comprendido 
                                  por temas de: Seres, Animales, plantas, cuerpo humano 
                                  y medio ambiente. Cada aplicación muestra a niños de 
                                  3 a 6 años de edad, mediante historias, música y juegos
                                  de una manera didáctica, entretenida escenas cotidianas 
                                  que le pueden suceder en la casa, escuela, ciudad y medio 
                                  ambiente lo que les permite estar preparados y prevenir 
                                  situaciones que atenten a su integridad física.
                              </p>
                              <div class="row">
                                    <div class="col-md-8">
                                            <a routerLink ='/user/login'><button class="descargar">Descargar Juego</button></a>
                                    </div>
                                    <div class="col-md-4">
                                        <button (click)="closeModal('custom-modal-3');">Cerrar</button>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </modal>
              </section>
            
  
              <div class="col-md-4">
                <img class="imagen-juego" src="../../../assets/img/imagen4-invalida.jpg"  />
              </div>
              <div class="col-md-4">
                <img class="imagen-juego" src="../../../assets/img/imagen5-invalida.jpg"  />
              </div>
              <div class="col-md-4">
                <img class="imagen-juego" src="../../../assets/img/imagen6-invalida.jpg"  />
              </div>
            </div>        
            
        </div>
  
  
        