

    <div class="body wrapper productoText">
        <div class="container-fluid">    
            <div class="row grid7">
                <div class="col-md-4">
                    <div class="hovereffect">
                          <h2>SERES</h2>
                        <a href="https://play.google.com/store/apps/details?id=com.cuatroaventuras.seres" id="Modal-A_1" target="_blank"><img class="img-responsive imagen-juego" src="../../../assets/img/seres-portada.jpg" alt=""></a>
                            <div class="overlay">
                               
                                <p class="icon-links">
                                    <a href="#" id="Modal-1_1" >
                                        
                                    </a>
                                </p>
                            </div>
                    </div>
                </div>
             
             
                <div class="col-md-4">
                    <div class="hovereffect">
                          <h2>ESCUELA</h2>
                        <a href="https://play.google.com/store/apps/details?id=air.A4AventurasSocial" target="_blank"><img class="img-responsive imagen-juego" src="../../../assets/img/escuela-portada.jpg" alt=""></a>
                            <div class="overlay">
                                
                                <p class="icon-links">
                                    <a href="#" id="Modal-1_2" >
                                        
                                    </a>
                                </p>
                            </div>
                    </div>
                </div>          
              
              
          
                <div class="col-md-4">
                  <div class="hovereffect">
                          <h2>ANIMALES</h2>
                        <a href="https://play.google.com/store/apps/details?id=com.cuatroaventuras.animales" target="_blank"><img class="img-responsive imagen-juego" src="../../../assets/img/animales-portada.jpg" alt=""></a>
                            <div class="overlay">
                                
                                <p class="icon-links">
                                    <a href="#" id="Modal-1_2" >
                                     
                        </a>
                      </p>
                   </div>
                  </div>
            </div>
            
  
            <div class="col-md-4">
                <img class="imagen-juego" src="../../../assets/img/imagen4-invalida.jpg"  />
            </div>
            <div class="col-md-4">
                <img class="imagen-juego" src="../../../assets/img/imagen5-invalida.jpg"  />
              </div>
            <div class="col-md-4">
                <img class="imagen-juego" src="../../../assets/img/imagen6-invalida.jpg"  />
              </div>
            </div>        
            
        </div>
