<div class="row">


    <div class="col-md-3">
        <div class="menuadmin " routerLink="/usuarios">Usuarios</div>
    </div>
    <div class="col-md-3">
            <div class="menuadmin " routerLink="/encuestaAdmin">Encuestas</div>
        </div>
        <div class="col-md-3">
                <div class="menuadmin seleccionado" routerLink="/lineagrafica">Línea gráfica</div>
            </div>
            <div class="col-md-3">
                    <div class="cerrar " (click)="cerrarsesion()">Cerrar Sesión</div>
                </div>
    

    </div>

<div class="lineagrafica">

<br><br>

  <h1 class="white center">Resultado de encuesta de personajes</h1>

  <br><br>

<h2 class="center white"> Línea gráfica más votada para Loli</h2>
<br>
<div class="row">
 
  <div class="col-md-4 center">
    <img src="../../../assets/img/loli1.png" alt="" width="300px">
    <h2 >{{loli1}}</h2>
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/loli2.png" alt="" width="300px">
      <h2>{{loli2}}</h2>
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/loli3.png" alt="" width="300px">
      <h2>{{loli3}}</h2>
  </div>
</div>

<br><br><br>

<h2 class="center white"> Tonalidad de verde más votado para Loli</h2>
<br>
<div class="row">
 
  <div class="col-md-4 center">
    <img src="../../../assets/img/color1.png" alt="" width="300px">
    <h2 >{{color1}}</h2>
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/color2.png" alt="" width="300px">
      <h2 >{{color2}}</h2>
  </div>

  <div class="col-md-4 center">
      <img src="../../../assets/img/color3.png" alt="" width="300px">
      <h2 >{{color3}}</h2>
  </div>
</div>

<br><br><br>

<h2 class="center white"> Línea gráfica más votada para el personaje del niño</h2>
<br>
<div class="row">
 
  <div class="col-md-6 center">
    <img src="../../../assets/img/niño.png" alt="" width="300px">
    <h2 >{{boy1}}</h2>
  </div>

  <div class="col-md-6 center">
      <img src="../../../assets/img/niñoanterior.png" alt="" width="300px">
      <h2 >{{boy2}}</h2>
  </div>

</div>

<br><br><br>

<h2 class="center white"> Línea gráfica más votada para el personaje de la niña</h2>
<br>
<div class="row">
 
  <div class="col-md-6 center">
    <img src="../../../assets/img/niña.png" alt="" width="300px">
    <h2 >{{girl1}}</h2>
  </div>

  <div class="col-md-6 center">
      <img src="../../../assets/img/niñaanterior.png" alt="" width="300px">
      <h2 >{{girl2}}</h2>
  </div>

</div>

<br><br><br>

<h2 class="center white"> Fondo más votado para el juego </h2>
<br>
<div class="row">
 
  <div class="col-md-6 center">
    <img src="../../../assets/img/fondoactual.png" alt="" width="300px">
    <h2 >{{background1}}</h2>
  </div>

  <div class="col-md-6 center">
      <img src="../../../assets/img/fondoanterior.png" alt="" width="300px">
      <h2 >{{background2}}</h2>
  </div>

</div>

</div>