<div class="blackbanner2 centrado fuente">
    <div class="container">
        <div class="row">
            <br>
            <div>
                <h2 class="text-center">NOSOTROS</h2>
              <br>
                La Escuela de Diseño y Comunicación Visual, EDCOM, de la Escuela Superior Politecnica del Litoral ESPOL,
                busca constantemente innovar, a la vanguardia de la tecnología, incorporando esquemas relacionados con
                el arte, el diseño y la comunicación visual. <br><br>Dentro de su que hacer académico y de
                Investigación, está desarrollando proyectos de investigación y desarrollo de carácter multidisciplinario, que incorporan el diseño y
                creación de producciones animadas como aplicaciones móviles educativas monitoreadas en línea.

                En estas producciones se proponen la creación de nuevas líneas de diseño de personajes y ambientaciones
                a ser utilizadas en el desarrollo e implementación de innovadoras herramientas digitales lúdicas de
                apoyo para la educación infantil. <br><br>
                Descarga y prueba nuestros juegos MIDI-AM en sus versiones Beta y descubre la diversión y enseñanza de
                su uso para tus niños. Te invitamos a ser parte de nuestro equipo MIDI-AM dándonos tus ideas y
                comentarios de cómo mejorar los mismos. <br><br>


            </div>

        </div>
    </div>



    <div class="container">

        <div class="row">
            <div class="col-xs-6 ml-auto fuente">
                <br>
                <h2>¿QUÉ ES EL MIDI-AM?</h2><br>
                MIDI-AM es el acrónimo que se dio al proyecto de Investigacion titulado “usabilidad juegos lúdicos MIDI
                adaptados a aplicaciones móviles para niños del milenio”. Es un proyecto de investigación de carácter
                multidisciplinario, propuesto por EDCOM en mayo del 2018, con el apoyo de otras unidades académicas y de
                vínculos UVC, FIEC y CTI de la ESPOL. El proyecto fomenta la creación de producciones Multimedia Interactivo
                Didáctico Infantiles (MIDI) como aplicaciones móviles de uso libre, que busca realizar una evaluación
                objetiva del impacto y nivel de usabilidad de nuevas aplicaciones móviles lúdicas infantiles, basada en
                aplicaciones MIDI desarrolladas por EDCOM (Solórzano, 2006). <br><br>El objetivo es establecer un
                análisis comparativo con datos capturados en la nube que permita evaluar nuevas tendencias de línea
                gráficas, tecnológicas, y contenidos a ser utilizados para impulsar la adopción de aplicaciones lúdicas
                innovadoras que fomentan y complementen la enseñanza y desarrollo de competencias sobre temas
                relacionados con entorno natural y social que se imparte en los primeros años de educación básica en el
                Ecuador a los niños de este milenio (dependiendo nativo digital, generación Z, la generación Tecnológica).<br><br>


                <br>
                <h2>¿QUÉ ES MIDI?</h2><br>
                MIDI es el acrónimo de Multimedia Interactivo Didáctico Infantil que se refiere a una línea de proyectos
                de investigacion y desarrollo ejecutados por EDCOM. El inicio de este proyecto Involucró la creación de
                aplicaciones lúdicas animadas basadas en historias y juegos para computadoras personales (PC). Estas
                aplicaciones fueron propuestas para ser usadas como herramientas complementarias la enseñanza de
                Educación Básica Infantil en el Ecuador. El proyecto nació en el 2001, contando con la colaboración y
                apoyo de varias unidades académicas de ESPOL, centros educativas y organizaciones del sector privado,
                durante los años de su ejecución. <br><br>MIDI concluyo con la creación de tres series animadas para el
                apoyo de la enseñanza sobre el Entorno Natural y Social, Lenguaje y Computación Básica. Estas
                aplicaciones contaban con historias y diseños originales de personajes y ambientaciones ilustradas
                representando nuestro entorno y cultura ecuatoriana, las cuales fueron desarrolladas dentro de tres
                componentes del proyecto conocidas como MIDI 1, 2, y 3 hasta el año 2009.<br><br>

                <br>
                <h2>¿QUÉ ES 4 AVENTURAS?</h2><br>

                Es una serie animada de historias y juegos relacionados con los contenidos que se imparten en ciencias
                básicas sobre el entorno Natural y Social para niños que atienden sesiones de escolaridad desde inicial
                uno hasta el primer año de educación básica.

                Las aplicaciones desarrolladas y que se desarrollen, están relacionadas con los contenidos determinados por
                el Ministerio de Educación del Ecuador (MEC) para ser utilizadas como herramientas de apoyo por los maestros para complementar su enseñanza. Ayudan directamente al niño para que a través de
                historias y juegos pueda aprender de una manera fácil y entretenida. Estos juegos también pueden ser ejecutados desde los dispositivos
                móviles que utilizan en sus hogares.

            </div>



        </div>
    </div>