<div class="blackbanner estilo">  
    <div id="textbannerproductos" class="text-center" >
           
        
            <br><br>
           
                <h2 >PRODUCTOS</h2>
                ---------------------------------
              <br>
              Como parte de nuestra creciente cartera 
              de aplicaciones multimedias interactivas/didácticas,
              ahora ofrecemos nuestra selección
              de juegos beta gratuitos en
              google play. <br>
            
              ¡Prueba nuestros juegos y descubre cuáles
                se adaptan mejor a tus gustos! <br>


                
            
                <div class="container ">
            <div class="prueba">
                
                    <img class="logo-cuatroface" src="../../../assets/img/bannerindex.png" alt=""/>
            </div>
            </div>
            <br>
        
    </div>

    <div class="container ">
            <br> <br><br> 
        <div class="row">
          
            <div>
                    <div class="text-center ">
                            <h2>MATERIAL ESCOLAR</h2>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textocentrado">
                                ---------------------------------
                            </div>
                        </div>
                
                
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                            <div class="meparrafo text-center ">
                                Nuestra gama de juegos MIDI-AM te ofrece una variedad de aplicaciones didácticas para los niños, que pueden
                                ser usados en la casa o en la escuela. Prueba nuestro material escolar y descubre cuales se adaptan
                                mejor a tu gusto. <br><br><br>
                            </div>
                
                        </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  
                   
            </div>

           



 

    </div>

       
    </div>
 
     <div class="row productos" class="text-center">
            
            
            <angular-image-slider [images]="imagesUrl"></angular-image-slider>
       
            <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <img class="iconoP" src="" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <br>   <br>  
                        <img class="iconoP" src="../../../assets/img/productos_ico2.png" />
                    </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <br>
                        <img class="iconoP" src="../../../assets/img/productos_ico3.png" />
                    </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img class="iconoP" src="" />
                </div> -->
      
      
       
    </div> 

</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
       
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          
        </div>