.wrapper{
    padding: 60px;
}

.productoText{
    color: black;
}

.imagen-juego{
  width: 100%;
}

.main-section {
    border: 1px solid #007bff;
    background: #fff;
  }
  .profile-header {
    background: #007bff;
    height: 150px;
  }
  .user-detail {
    margin: -50px 0 30px 0;
  }
  
  .user-details h5 {
    margin: 15px 0 5px 0;
  }

  .productoText h2{
    text-align: center;
    color: white;
    margin:10px
}

.productoText img:hover{
  transform: scale(1.1);
}