<div class="body wrapper fuente">


    <div class="blackbanner2">
        <div class="container productoText">

            <div class="row">
                <br>
                <div>
                    <h2>Política de Privacidad de 4 Aventuras, Proyectos MIDI-AM, EDCOM-ESPOL</h2>
                    -----------------<br>
                    Proyectos MIDI-AM de EDCOM-ESPOL, está desarrollando las aplicaciones lúdicas móviles denominadas “4
                    Aventuras” como gratuitas en sus versiones beta. Provee este servicio sin costo alguno y sus usos
                    están pensados así.
                    Esta página se usa para informar a los visitantes sobre nuestras políticas con la recolección, uso y
                    revelación de información general sobre quienes se registren como usuarios para bajar las
                    aplicaciones y decidan usar nuestro servicio.
                    Si escoge utilizar nuestro servicio, está de acuerdo con la recolección y uso de información en
                    relación con esta Política. La información personal que recolectamos se usa solo con fines de
                    investigación lo que nos permitirá proveer y
                    mejorar el servicio y nivel de usabilidad de las aplicaciones lúdicas creadas. No usaremos o
                    compartiremos su información con nadie con las excepciones detallas en esta Política de Privacidad.

                    <br><br>
                    Los términos usados en esta política de privacidad tienen las mismas intenciones que nuestros
                    Términos y Condiciones, los cuales son accesibles a través de <a href="http://www.midi.espol.edu.ec">http://www.midi.espol.edu.ec</a>, de otra manera, definidas
                    en esta Política de Privacidad.
                </div>
                <br>

                


            </div>
        </div>


        <div class="container productoText">

            <div class="row">
                <div class="col-xs-6 ml-auto">
                    <br>
                    <h2>Recolección de información y Uso</h2><br>

                    Para una mejor experiencia, mientras usa nuestros servicios, podemos requerir que nos provea con
                    cierta
                    información personalmente identificable, incluyendo, pero no limitada a el “Nombre de la Unidad
                    Educativa”, “Nombre del niño/a”, correo electrónico. La información que pedimos será retenida y
                    usada
                    por nosotros como describe esta Política de Privacidad.




                    <br><br>
                    <h2>Registro de datos</h2><br>
                    Queremos informarle que siempre que use nuestros servicios, en caso de algún error en la aplicación,
                    recolectaremos un registro de datos (a través de productos de terceros) de su dispositivo. Este
                    registro
                    de datos puede incluir información como su dirección IP, nombre del dispositivo, versión del sistema
                    operativo, la configuración de la aplicación cuando utilizaba el servicio, la hora y fecha del uso
                    del
                    servicio y otras estadísticas.

                    <br><br>


                    <br>
                    <h2>Proveedores de Servicio</h2><br>

                    Puede que nosotros empleemos a terceras compañías o individuos debido a las siguientes razones:
                    <ul>
                        <li>- Para facilitar nuestro Servicio;</li>
                        <li>- Para proveer el servicio en nuestro nombre;</li>
                        <li>- Para ayudarnos a analizar cómo está siendo usado el servicio.</li>
                    </ul>
                    Queremos informar a los usuarios de este servicio que estos terceros tienen acceso a su información.
                    La
                    razón es para que realicen las tareas asignadas a nuestro nombre. Sin embargo, tienen la obligación
                    de
                    no revelar ni usar la información por ningún otro motivo.


                    <br><br>

                    <br>
                    <h2>Seguridad</h2><br>

                    Valoramos su confianza al proveernos su información personal, por ende, nos esforzamos por usar
                    medios
                    comercialmente aceptables para protegerla. Recuerde que ningún método de transmisión por Internet o
                    de
                    almacenamiento electrónico es 100% seguro y confiable, y no podemos garantizar su absoluta
                    seguridad.


                    <br><br>

                    <br>
                    <h2>Enlaces a otros sitios</h2><br>

                    Este servicio puede contener enlaces a otros sitios. Si abre uno de estos enlaces de terceros, será
                    llevado a un ese sitio. Nótese que estos sitios externos no están operados por nosotros. Por lo
                    tanto,
                    aconsejamos que revise las Políticas de Privacidad de esos sitios. No tenemos control ni asumimos
                    responsabilidad alguna por el contenido, Políticas de Privacidad o Prácticas de ninguno de estos
                    sitios
                    o servicios de terceros.


                    <br><br>

                    <br>
                    <h2>Privacidad de los Niños</h2><br>

                    El servicio está dirigido a niños de 4 a 6 años, padres de familia, guardián de menores o a maestros
                    de
                    escuela. Nosotros solo recolectamos los datos previamente citados en la sección “Recolección de
                    información y Uso”. En caso de descubrir que algún usuario o menor de edad nos proporcionó
                    información
                    personal adicional, nosotros la borraremos de nuestros servidores. Si usted es padre de familia,
                    maestro
                    o guardián del menor y está consciente de que su hijo/a o alumno nos entregó información personal
                    adicional, por favor contáctenos para que podamos tomas las acciones necesarias.

                    <br><br>

                    <br>
                    <h2>Cambios a esta Política de Privacidad</h2><br>

                    Podemos actualizar nuestra Política de Privacidad de vez en cuando. Por eso le aconsejamos que
                    revise
                    esta página periódicamente por algún cambio. Le notificaremos sobre cualquier cambio actualizando
                    las
                    Política de Privacidad de esta página. Estos cambios serán efectivos inmediatamente luego de que se
                    suban a esta página.


                    <br><br>

                    <br>
                    <h2>Contáctenos</h2><br>

                    Si tiene alguna pregunta o sugerencia sobre nuestra Política de Privacidad, no dude en contáctarnos
                    a
                    <a href="mailto:dcarrera@espol.edu.ec" target="_top">dcarrera@espol.edu.ec</a> o
                    <a href="mailto:nsolorza@espol.edu.ec" target="_top">nsolorza@espol.edu.ec</a>



                </div>



            </div>


        </div>


    </div>